---
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="gif">
    <img src="/images/laptop.webp" role="presentation" width="300" height="259" decoding="async" />
  </div>
  <h2>{frontmatter.title}</h2>
  <slot />
  <ul class="badge__list">
    <li><span class="badge badge--item">PLATFORM</span>{frontmatter.platform}</li>
    <li><span class="badge badge--item">STACK</span>{frontmatter.stack}</li>
    {
      frontmatter.website && (
        <li>
          <>
            <span class="badge badge--item">WEBSITE</span>
            <a class="badge__link" href={frontmatter.website} target="_blank">
              {frontmatter.website}
            </a>
          </>
        </li>
      )
    }
    {
      frontmatter.github && (
        <li>
          <>
            <span class="badge badge--item">GITHUB</span>
            <a class="badge__link" href={frontmatter.github} target="_blank">
              {frontmatter.github}
            </a>
          </>
        </li>
      )
    }
  </ul>
  <div class="project-images">
    <img
      class="pro-img"
      src={frontmatter.worksImage1.url}
      alt={frontmatter.worksImage1.alt}
      loading="lazy"
    />
    <img
      class="pro-img"
      src={frontmatter.worksImage2.url}
      alt={frontmatter.worksImage2.alt}
      loading="lazy"
    />
  </div>
</BaseLayout>
